body {
    background-color: linen;
 }
 h1 {
    color: maroon;
    margin-left: 40px;
 }

 h2 {
    font-family:arial; 
    color:cyan;
 }

 #paragraph {
   font-family:arial; 
   color:cyan;
}

 #output {
    font-family:arial;
    color:blueviolet;
 }

 .c1 {
    font-family: arial;
 }
.c2 {
    color: brown;
}